---
import Layout from "../../layouts/Layout.astro"

import blocks from "../../assets/Blocks.png";
---

<Layout>
  <section class="py-10">
    <a href="/apu-starter-pack/map" class="text-green-600 hover:underline">
      ← Back to Map
    </a>

    <div class="mt-8 rounded-3xl bg-white p-8 shadow-md">
      <h1 class="text-4xl font-extrabold text-slate-800">
        Blocks
      </h1>

      <p class="mt-4 text-slate-600">
        Here are the lables for all the blocks at APU, currently Block S is missing but it is the block nearer to the atrium side.
      </p>

      <img
        src={blocks.src}
        alt="Campus blocks"
        class="mt-8 w-full rounded-2xl object-cover"
      />
    </div>
  </section>
</Layout>