---
import Layout from "../../layouts/Layout.astro"

import offices from "../../assets/APU-Office.png";
---

<Layout>
  <section class="py-10">
    <a href="/apu-starter-pack/map" class="text-green-600 hover:underline">
      ← Back to Map
    </a>

    <div class="mt-8 rounded-3xl bg-white p-8 shadow-md">
      <h1 class="text-4xl font-extrabold text-slate-800">
        Offices
      </h1>

      <p class="mt-4 text-slate-600">
        This page can list important offices such as admin, finance, academic
        support, and student services.
      </p>

      <ul>
        <li>Student Services Level 3</li>
        <li>Bursary Level 3</li>
        <li>Admin Block C level 4</li>
        <li> Immigration Level 4</li>
        <li>Clinic Level 4</li>
        <li>Tech Lab Office Level ?</li>
      </ul>
    </div>
  </section>
</Layout>

