---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Teams">
<section class="min-h-[calc(100vh-80px)] grid md:grid-cols-2 bg-slate-50">
  <div class="flex items-center justify-center px-8 py-16">
    <div class="max-w-xl">
      <p class="mb-4 font-semibold text-green-600">
        Stay updated
      </p>

      <h1 class="text-4xl md:text-6xl font-extrabold leading-tight text-slate-800">
        Events Team Channel
      </h1>

      <p class="mt-6 text-lg text-slate-600">
        Join the events team channel to keep track of upcoming activities,
        student events, campus announcements, and opportunities to get involved.
      </p>

      <img src="/src/assets/arrow.png" alt="">
      <img src="/src/assets/cat-with-laptop.png" alt="">
    </div>
  </div>

  <div class="h-60 md:h-auto">
    <img
      src="/src/assets/events-teams.png"
      alt="Events team channel"
      class="h-full w-full"
    />
  </div>
</section>
</Layout>