---
import Layout from "../layouts/Layout.astro";

import Apufront from "../assets/APU-front.png";
---

<Layout title="Home">
  <section class="min-h-[calc(100vh-80px)] grid md:grid-cols-2 bg-slate-50">
  <div class="h-72 md:h-auto">
    <img
      src={Apufront.src}
      alt="APU campus"
      class="h-full w-full object-contain"
    />
  </div>

  <div class="flex items-center justify-center px-8 py-16">
    <div class="max-w-xl">
      <p class="mb-4 font-semibold text-green-600">
        Welcome to your campus guide
      </p>

      <h1 class="text-5xl md:text-7xl font-extrabold leading-tight text-slate-800">
        WELCOME TO APU STARTER PACK
      </h1>
      <a
        href="/apu-starter-pack/welcome"
        class="mt-8 inline-block rounded-full bg-green-500 px-6 py-3 font-semibold text-white transition hover:bg-green-600"
      >
        Let's get started!
      </a>
    </div>
  </div>
</section>
</Layout>
