---
import Layout from "../layouts/Layout.astro";

import auditoriums from "../assets/Auditoriums.png";
import blocks from "../assets/Blocks.png";
import offices from "../assets/APU-Office.png";

const mapItems = [
  {
    title: "Auditoriums",
    image: auditoriums.src,
    href: "/apu-starter-pack/map/auditoriums",
  },
  {
    title: "Blocks",
    image: blocks.src,
    href: "/apu-starter-pack/map/blocks",
  },
  {
    title: "Offices",
    image: offices.src,
    href: "/apu-starter-pack/map/offices",
  },
];
---

<Layout title="Maps">
  <section class="min-h-[calc(100vh-80px)] bg-slate-50 ">
    <div class="grid min-h-[calc(100vh-80px)] grid-cols-1 gap-16 md:grid-cols-3 ">
      {mapItems.map((item) => (
        <a
          href={item.href}
          class="group relative min-h-[33vh] overflow-hidden md:min-h-[calc(100vh-80px)]"
        >
          <img
            src={item.image}
            alt={item.title}
            class="absolute inset-0 h-full w-full object-cover transition duration-500 group-hover:scale-105"
          />

          <div class="absolute inset-0 bg-black/35 transition duration-300 group-hover:bg-black/45"></div>

          <div class="absolute inset-0 flex items-center justify-center p-6 text-center">
            <h2 class="text-3xl font-extrabold text-white drop-shadow-lg md:text-4xl">
              {item.title}
            </h2>
          </div>
        </a>
      ))}
    </div>
  </section>
</Layout>