<nav
  class="sticky top-0 z-50 bg-sky-300/90 backdrop-blur border-b border-sky-400"
>
  <div class="mx-auto flex max-w-6xl items-center justify-between px-6 py-4">
    <a href="/" class="font-bold text-slate-800"> APU Starter Pack </a>

    <div class="flex gap-6">
      <a class="hover:text-green-600 transition-colors" href="/"> Home </a>

      <a
        class="hover:text-green-600 transition-colors"
        href="/apu-starter-pack/orientation"
      >
        Locations
      </a>

      <a
        class="hover:text-green-600 transition-colors"
        href="/apu-starter-pack/services"
      >
        Teams
      </a>
    </div>
  </div>
</nav>
